@model Miq

<!-- *********************     Main  Start     ************************ -->
<main>
    <!-- ********************************************************************** -->
    <!-- **************************   İnfo start     ************************ -->
    <section class="info">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="info-data">
                        <p class="info-title">İnformatika MİQ Sınaq İmtahanı</p>
                        <p class="info-description text-center">
                            Sınağın izahını əldə etmək üçün <a href="tel:0507662005">0507662005</a> nömrəsi ilə əlaqə saxlayın
                        </p>
                        <p class="info-description text-center">
                            Instagram : <a href="https://www.instagram.com/miq_informatika_/">miq_informatika_</a>
                        </p>
                        <p class="info-description text-center">
                            Müəllif : Orxan Məmmədov
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="itBtn" href=@Model.Link>Sınağa daxil ol</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- *********************  İnfo end    ************************ -->
    <!-- ******************************************************************** -->
    <!-- *********************     Footer  Start     ************************ -->
</main>

@section Css{
<link rel="stylesheet"asp-append-version="true"  href="~/src/css/secondary.css" />
}