@model SosialVM
<!-- ********************************************************************** -->
<section class="section social-con">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="conIcons d-flex justify-content-center">

                    <div class="divImg">
                        <img src="~/src/img/logo/footer-logo.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="conText" style="font-size:18px">
                    <div class="head">
                        <span class="font-weight-bold">IT Brains Academy</span>-in
                        təşkilatçılığı ilə IT və Proqramlaşdırma sahəsində biliklərini təkmilləşdirmək və real iş təcrübəsi qazanmaq istəyənlər üçün <span class="font-weight-bold"> ödənişsiz </span>təlimlərə start verilir.


                    </div>

                    <ul class="body">
                        @foreach (Service item in ViewBag.Services)
                        {
                            <li>@item.AzServiceName</li>
                        }



                    </ul>
                    <div class="conFooter">
                        Təlimlərdə bu sahələrə həvəsi olan hər kəs iştirak edə bilər. Qeydiyyatdan keçmək üçün sağdakı qeydiyyat formunu doldurun.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="myForm" style="padding-top:0px">
                    <form class="soc-reg" method="post" enctype="multipart/form-data">
                        <div class="soc-form">
                            <label>Ad,Soyad</label>
                            <input asp-for="FullName" class="myInput" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="soc-form">
                            <label>Mobil nömrə</label>
                            <input asp-for="Mobile" class="myInput" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        <div class="soc-form">
                            <label>Sahəni seç</label>
                            <select name="courseName">
                                @foreach (Service item in ViewBag.Services)
                                {
                                    <option value="@item.AzServiceName">@item.AzServiceName</option>

                                }
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <!-- Upload Area -->
                        <!-- End Upload Area -->
                        <div class="socBtn d-flex justify-content-end">
                            <button type="submit" class="itBtn">
                                Müraciət et !
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ******************************************************************** -->
@section Css{
    <link rel="stylesheet" asp-append-version="true" href="~/src/css/secondary.css" />
}
@section Scripts{
    <partial name="_ValidationScriptsPartial">
        <script>
            // Design By
            // - https://dribbble.com/shots/13992184-File-Uploader-Drag-Drop

            // Select Upload-Area
            const uploadArea = document.querySelector('#uploadArea')

            // Select Drop-Zoon Area
            const dropZoon = document.querySelector('#dropZoon');

            // Loading Text
            const loadingText = document.querySelector('#loadingText');

            // Slect File Input
            const fileInput = document.querySelector('#fileInput');


            // File-Details Area
            const fileDetails = document.querySelector('#fileDetails');

            // Uploaded File
            const uploadedFile = document.querySelector('#uploadedFile');

            // Uploaded File Info
            const uploadedFileInfo = document.querySelector('#uploadedFileInfo');

            // Uploaded File  Name
            const uploadedFileName = document.querySelector('.uploaded-file__name');

            // Uploaded File Icon
            const uploadedFileIconText = document.querySelector('.uploaded-file__icon-text');

            // Uploaded File Counter
            const uploadedFileCounter = document.querySelector('.uploaded-file__counter');

            // ToolTip Data
            const toolTipData = document.querySelector('.upload-area__tooltip-data');

            // Images Types
            const imagesTypes = [
                "doc",
                "pdf",
                "docx",
            ];

            // Append Images Types Array Inisde Tooltip Data
            toolTipData.innerHTML = [...imagesTypes].join(', .');

            // When (drop-zoon) has (dragover) Event
            dropZoon.addEventListener('dragover', function (event) {
                // Prevent Default Behavior
                event.preventDefault();

                // Add Class (drop-zoon--over) On (drop-zoon)
                dropZoon.classList.add('drop-zoon--over');
            });

            // When (drop-zoon) has (dragleave) Event
            dropZoon.addEventListener('dragleave', function (event) {
                // Remove Class (drop-zoon--over) from (drop-zoon)
                dropZoon.classList.remove('drop-zoon--over');
            });

            // When (drop-zoon) has (drop) Event
            dropZoon.addEventListener('drop', function (event) {
                // Prevent Default Behavior
                event.preventDefault();

                // Remove Class (drop-zoon--over) from (drop-zoon)
                dropZoon.classList.remove('drop-zoon--over');

                // Select The Dropped File
                const file = event.dataTransfer.files[0];

                // Call Function uploadFile(), And Send To Her The Dropped File :)
                uploadFile(file);
            });

            // When (drop-zoon) has (click) Event
            dropZoon.addEventListener('click', function (event) {
                // Click The (fileInput)
                fileInput.click();
            });

            // When (fileInput) has (change) Event
            fileInput.addEventListener('change', function (event) {
                // Select The Chosen File
                const file = event.target.files[0];

                // Call Function uploadFile(), And Send To Her The Chosen File :)
                uploadFile(file);
            });

            // Upload File Function
            function uploadFile(file) {
                // FileReader()
                const fileReader = new FileReader();
                // File Type
                const fileType = file.type;
                // File Size
                const fileSize = file.size;

                // If File Is Passed from the (File Validation) Function
                if (fileValidate(fileType, fileSize)) {
                    // Add Class (drop-zoon--Uploaded) on (drop-zoon)
                    dropZoon.classList.add('drop-zoon--Uploaded');

                    // Show Loading-text
                    loadingText.style.display = "block";
                    // Hide Preview Image

                    // Remove Class (uploaded-file--open) From (uploadedFile)
                    uploadedFile.classList.remove('uploaded-file--open');
                    // Remove Class (uploaded-file__info--active) from (uploadedFileInfo)
                    uploadedFileInfo.classList.remove('uploaded-file__info--active');

                    // After File Reader Loaded
                    fileReader.addEventListener('load', function () {
                        // After Half Second
                        setTimeout(function () {
                            // Add Class (upload-area--open) On (uploadArea)
                            uploadArea.classList.add('upload-area--open');

                            // Hide Loading-text (please-wait) Element
                            loadingText.style.display = "none";
                            // Show Preview Image

                            // Add Class (file-details--open) On (fileDetails)
                            fileDetails.classList.add('file-details--open');
                            // Add Class (uploaded-file--open) On (uploadedFile)
                            uploadedFile.classList.add('uploaded-file--open');
                            // Add Class (uploaded-file__info--active) On (uploadedFileInfo)
                            uploadedFileInfo.classList.add('uploaded-file__info--active');
                        }, 500); // 0.5s

                        // Add The (fileReader) Result Inside (previewImage) Source

                        // Add File Name Inside Uploaded File Name
                        uploadedFileName.innerHTML = file.name;

                        // Call Function progressMove();
                        progressMove();
                    });

                    // Read (file) As Data Url
                    fileReader.readAsDataURL(file);
                } else { // Else

                    this; // (this) Represent The fileValidate(fileType, fileSize) Function

                };
            };

            // Progress Counter Increase Function
            function progressMove() {
                // Counter Start
                let counter = 0;

                // After 600ms
                setTimeout(() => {
                    // Every 100ms
                    let counterIncrease = setInterval(() => {
                        // If (counter) is equle 100
                        if (counter === 100) {
                            // Stop (Counter Increase)
                            clearInterval(counterIncrease);
                        } else { // Else
                            // plus 10 on counter
                            counter = counter + 10;
                            // add (counter) vlaue inisde (uploadedFileCounter)
                            uploadedFileCounter.innerHTML = `${counter}%`
                        }
                    }, 100);
                }, 600);
            };


            // Simple File Validate Function
            function fileValidate(fileType, fileSize) {
                // File Type Validation
                let isImage = imagesTypes.filter((type) => fileType.indexOf(`application/${type}`) !== -1);

                // If The Uploaded File Type Is 'jpeg'
                if (isImage[0] === "pdf") {
                    //&& isImage[0] == "msword" && isImage[0] == "vnd.openxmlformats-officedocument.wordprocessingml.document"
                    // Add Inisde (uploadedFileIconText) The (jpg) Value
                    uploadedFileIconText.innerHTML = 'pdf';
                }
                else { // else
                    // Add Inisde (uploadedFileIconText) The Uploaded File Type
                    uploadedFileIconText.innerHTML = isImage[0];
                };

                // If The Uploaded File Is An Image
                if (isImage.length !== 0) {
                    // Check, If File Size Is 2MB or Less
                    if (fileSize <= 3000000) { // 2MB :)
                        return true;
                    } else { // Else File Size
                        return alert('Zəhmət olmasa 3MB-dan kiçik fayl daxil edin ');
                    };
                } else { // Else File Type
                    return alert('Zəhmət olmasa Pdf fayl daxil edin');
                };
            };

// :)
        </script>
}
