
@inject IViewLocalizer Localizer
<div class="container">
    <div class="row justify-content-md-start justify-content-center pb-3 my-5">
        <div class="col-12 my-5 pb-5">
            <h3 class="text-center selected my-5 pb-3" style="color: #060e58">
                <i style="color: #060e58" class="fab fa-searchengin mr-3 d-lg-inline d-none"></i>  @Localizer["Ok"]  <i style="color: #060e58" class="fab fa-searchengin ml-3 d-lg-inline d-none"></i>
            </h3>
        </div>
    </div>
</div>

@section Css{
    <link rel="stylesheet"asp-append-version="true"  href="~/src/css/secondary.css" />
}